<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Fake News Detection</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1 style="color:CornflowerBlue;">Sahte Haber Tespiti</h1>

	<style>
	body {
	background-image: url('https://image.freepik.com/free-vector/soft-blue-gradients-color-background_43969-1038.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}
</style>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="news" placeholder="Kullanıcı Adını Başında @ Olmadan Giriniz" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

    </form>

   <br>
   <br>
   {{ prediction_text}}


 </div>


</body>
</html>
